* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(bg.webp);
    width: 100%;
}

.pembungkus {
    width: 90%;
    margin: auto;
    padding: 20px;
}

/* header */
header {
    width: 100%;
}

.logo-ikmi {
    float: left;
    margin-top: -150px;
    transition: 0.2s;
	opacity: 90%;
}

.logo-ikmi:hover {
    transform: scale(1.2);
    opacity: 100%;
}

.judul {
    position: absolute;
    left: 230px;
    top: 20px;
}

.judul h2 {
    font-size: 16px;
    position: relative;
    top: 12px;
}

.judul h2:hover {
    color: red;
    cursor: pointer;
    text-shadow: -3px 4px 8px rgba(255,44,44,1);
    transform: scale(1.2);
    transition: .2s;
}

.judul .j1 {
    font-size: 100px;
    float: left;
    color: red;
    letter-spacing: 10px;
    text-shadow: -3px 4px 8px rgba(255,44,44,1);
}

.judul .j1:hover {
    cursor: pointer;
    color: blue;
    text-shadow: -3px 4px 8px rgb(76, 0, 255);
    transform: scale(1.2);
    transition: .2s;
}

.judul .j2 {
    font-size: 60px;
    position: absolute;
    margin-top: 10px;
    color: blue;
    text-shadow: -3px 4px 8px rgb(20, 5, 228);
}

.judul .j2:hover {
    cursor: pointer;
    color: red;
    text-shadow: -3px 4px 8px rgba(255,44,44,1);
    transform: scale(1.2);
    transition: .2s;
}

.judul .j3 {
    font-size: 30px;
    margin-top: 50px;
    color: green;
    text-shadow: -3px 4px 8px rgb(43, 145, 51);
}

.judul .j3:hover {
    cursor: pointer;
    color: blue;
    text-shadow: -3px 4px 8px rgb(20, 5, 228);
    transform: scale(1.2);
    transition: .2s;
}

.judul .strip {
    position: absolute;
    left: 510px;;
    margin-top: -140px;
    font-size: 130px;
    color: red;
}

.judul .strip:hover {
    cursor: pointer;
    color: blue;
    text-shadow: -3px 4px 8px rgb(20, 5, 228);
    transform: scale(1.2);
    transition: .2s;
}

.lokasi {
    float: right;
    margin-right: -450px;
    margin-top: -115px;
}

.lokasi p:hover {
    cursor: pointer;
    color: blue;
    text-shadow: -3px 4px 8px rgb(20, 5, 228);
    font-weight: bold;
}

.lokasi .web:hover {
    color: red;
    text-shadow: -3px 4px 8px rgba(255,44,44,1);
    font-weight: normal;
}

.lokasi .kampus {
    font-weight: bold;
}

.lokasi p {
    line-height: 25px;
    font-size: 20px;
}

.garis {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.49);
}

.garis1 {
    width: 56%;
    height: 35px;
    background-color: rgb(255, 132, 84);
    margin-top: 150px;
}

.garis1:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: .3s;
    border-radius: 30px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.58);
}

.garis1 p {
    font-size: 30px;
    letter-spacing: 4px;
    color: white;
}

.garis1 p:hover {
    cursor: pointer;
    transition: .2s;
    color: green;
}

.garis2 {
    width: 44%;
    height: 35px;
    float: right;
    margin-top: -35px;
    background-color: green;
}

.garis2:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: .3s;
    border-radius: 30px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.58);
}

.garis2 p {
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.garis2 p:hover {
    cursor: pointer;
    transition: .2s;
    color: rgb(255, 132, 84);
}

.clear {
    clear: left;
}

/* akhir header */

/* formulir */
h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    font-family: "Trirong", sans-serif;
    color: rgb(27,118,253);
    text-shadow: -2px -3px 8px rgba(0,0,0,0.6);
}

h1:hover {
    cursor: pointer;
    transition: .2s;
    letter-spacing: 5px;
}

.petunjuk {
    font-weight: bold;
    font-size: 20px;
    font-family: "Trirong", sans-serif;
    color: rgb(27,118,253);
    text-shadow: -2px -3px 8px rgba(0,0,0,0.6);
}

.petunjuk:hover {
    cursor: pointer;
    letter-spacing: 5px;
    transition: .2s;
}

ol li {
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    font-family: "Trirong", sans-serif;
    color: rgb(27,118,253);
    text-shadow: -2px -3px 8px rgba(0,0,0,0.6);
}

ol li:hover {
    cursor: pointer;
    letter-spacing: 3px;
    transition: .2s;
}

/* pembungkus2 */
.pembungkus2 {
    width: 100%;
    margin: auto;
    background-color: rgb(47,130,253);
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 20px;
    font-family: "Trirong", sans-serif;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.58);
}
/* akhir pembungkus2 */

.judulform {
    font-size: 27px;
    margin-top: 20px;
    text-align: center;
    color: rgb(41, 38, 38);
}

label {
    font-size: 17px;
    font-weight: bold;
    color: rgb(41, 38, 38);
}

.isi {
    font-size: 14px;
    font-weight: normal;
}

.masukkan, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type=radio] {
    margin: 20px;
}

input[type=file] {
    background-color: #fff;
    border: none;
    font-size: 12px;
    color: gray;
}

button {
    width: 100%;
    background-color: rgb(10,88,202);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(3, 56, 136);
    transition: .2s;
}

/* akhir formulir */

/* media query */
/* @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
} */
/* akhir media query */